body {
  margin: 0;
  /* padding: 0; */
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* css by JP */

.Wrapper {
  margin: auto;
  margin-top: 10px;
  max-width: 550px;
  padding: 15px;
  padding-bottom: 50px;
  /* background: #fdf8f5; */
  /* background: #fdacf5; */
  background: lightblue;
  color: #222;
}

footer {
  margin: 50px 20px 10px 20px;
  font-size: smaller;
  text-align: center;
  /* color: #205; */
}

.column-names-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: 30px 30px 30px 90px;
  grid-template-rows: 20px;
  grid-gap: 2px;
  background-color: #2196f3;
  padding: 5px;
  margin-top: 5px;
  font-size: .8rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: 30px 30px 35px auto 58px;
  grid-template-rows: 28px;
  grid-gap: 2px;
  background-color: #2196f3;
  padding: 5px;
  font-size: small;
  text-align: center;
}

input.buy {
  width: 10px;
}

input.fav {
  width: 10px;
}

input.qty {
  width: 22px;
  text-align: right;
} 

input.itemName {
  width: 98%;
}

.form-button {
  font-size: x-small;
  font-weight: bold;
  padding: 2px;
  width: 45px;
  cursor: pointer;
}

.navbar {
  width: 100%;
  background-color: #555;
  overflow: auto;
}

/* Navbar links */
.navbar a {
  float: left;
  text-align: center;
  padding: 5px 10px;
  color: white;
  text-decoration: none;
}

/* Navbar links on mouse-over */
.navbar a:hover {
  background-color: #000;
}

/* Current/active navbar link */
.active {
  background-color: #fd0cf5;
}
