body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: lightskyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.wrapper {
  margin: 0 auto;
  margin-top: 0px;
  max-width: 550px;
  padding: 0px;
  padding-bottom: 0px;
  background: lightskyblue;
  color: white;
}

@media screen and (min-width: 500px) {
  .wrapper {
    margin-top: 15px;
  }
}

footer {
  margin: 50px 20px 10px 20px;
  font-size: smaller;
  text-align: left;
  color: #222;
}

.column-names-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: 30px 30px 40px 90px auto;
  grid-template-rows: 14px;
  grid-gap: 2px;
  background-color: #2196f3;
  padding: 2px 0px 5px 0px;
  margin-top: 0px;
  font-size: 0.8rem;
  text-align: center;
  color: rgb(226, 247, 255);
}

@media screen and (min-width: 500px) {
  .column-names-container {
    margin-top: 20px;
  }
}

.grid-container {
  display: grid;
  /* grid-template-columns: auto auto auto auto auto; */
  grid-template-columns: 30px 30px 40px auto 70px;
  grid-template-rows: 20px;
  grid-gap: 4px;
  padding: 10px 0px;
  font-size: small;
  text-align: center;
  border-bottom: solid 1px;
  border-collapse: collapse;
  width: 100%;
}

input[type=text], input[type=number] {
  border: none;
  border-bottom: 1px solid skyblue;
  background: lightskyblue;
  color: 333;
}

input[type=text]:focus, input[type=number]:focus {
  border: 3px solid whitesmoke;
}

input.buy {
  width: 10px;
}

input.fav {
  width: 10px;
}

input.qty {
  width: 35px;
  text-align: right;
}

input.item-name {
  width: 98%;
  min-width: 50px;
}

.form-button, .form-button-cloud, .form-button-delete {
  font-size: x-small;
  margin-left: 0px;
  margin-right: 5px;
  width: 30px;
  cursor: pointer;
}

.navbar {
  background-color: #555;
  margin: 0px 0px;
  padding: 0px 0px;
  overflow: auto;
  list-style: none;
}

.navbar > li > a:hover {
  background-color: gold;
}

.nav-item {
  float: left;
  text-align: center;
  margin: 5px 0px 5px 20px;
  color: red;
  background: #ccc;
  display: block;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-size: small;
  display: block;
  width: 60px;
  height: 20px;
}

.nav-active {
  background-color: gold;
  font-weight: bold;
}
